.game-board-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .game-board-display {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;

    .points-display {
      display: flex;
      width: 50%;
    }
  }

  .health-display {
    height: 12px;
    width: 50%;
    border-radius: 5px;
  
    div {
      height: 20px;
      border-radius: 5px;
    }
  }
} 

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 480px;

  & > div {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .player {
    position: relative;
    border-radius: 20%;
  
    .player-name {
      position: absolute;
      width: max-content;
      top: -12px;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1px 4px;
      border-radius: 4px;
      background-color: rgba(0,0,0,0.5);
    }
  }
  
  .fire {
    background-color: #ff300b;
  }

  .goal {
    position: relative;
  }
  .goal::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 9px;
    background: linear-gradient(25deg, #00c6ff, #0062d9, #23cfff, #0072ff);
    width: 21px;
    height: 21px;
    transform: rotate(45deg);
  }
}

